In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression,BayesianRidge
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.preprocessing import PolynomialFeatures
from sklearn import ensemble
from sklearn.neighbors import KNeighborsRegressor
from sklearn import neighbors
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import r2_score

**Data preprocessing and Feature Engineering**

In [2]:
grade_dataset=pd.read_csv('Grades2.csv')

In [3]:
grade_dataset.describe()

             CGPA
count  571.000000
mean     2.954888
std      0.620552
min      0.800000
25%      2.538000
50%      3.029000
75%      3.451000
max      3.985000

In [4]:
print(grade_dataset.shape)
grade_dataset

(571, 43)

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
0,CS-97001,B-,D+,C-,C,C-,D+,D,C-,B-,...,C-,C-,C-,C-,A-,A,C-,B,A-,2.205
1,CS-97002,A,D,D+,D,B-,C,D,A,D+,...,D+,D,C,D,A-,B-,C,C,B,2.008
2,CS-97003,A,B,A,B-,B+,A,B-,B+,A-,...,B,B,A,C,A,A,A,A-,A,3.608
3,CS-97004,D,C+,D+,D,D,A-,D+,C-,D,...,D+,C,D+,C-,B-,B,C+,C+,C+,1.906
4,CS-97005,A-,A-,A-,B+,A,A,A-,B+,A,...,B-,B+,B+,B-,A-,A,A-,A-,A,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,CS-97567,B,A,A,A-,A+,A,A-,A-,A+,...,A-,A-,A,A,A,B+,B+,B,A,3.798
567,CS-97568,A+,A,A,A,A,A,A,A-,A,...,B+,B+,A,A,A-,B,A-,C,A-,3.772
568,CS-97569,B,A,A-,B+,A,A,A,A,A,...,A-,B,A,B+,A,C,B+,A-,A-,3.470
569,CS-97570,A,B+,D,A,D,D+,B-,C-,B-,...,D,B,B,C-,D,C,B,B-,C,2.193
570,CS-97571,C,D,D,C,C,D+,B,C+,C,...,C+,C,B-,D,F,C-,B+,D,C-,1.753

In [5]:
#Nominal Encoding
def Nominal_encoder(model):
    features=model.columns
    for i in range(len(features)):
        model[features[i]]=model[features[i]].replace(['A+','A','A-','B','B+','B-','C','C+','C-','D','D+','F','W','WU','I','Ab'], [4,4,3.7,3,3.4,2.7,2,2.4,1.7,1,1.4,0,0,0,0,0])

***Here we get only 12 rows only***

In [6]:
grade_dataset = grade_dataset.drop(["Seat No.", "HS-205/20","MT-222","EE-222","MT-224","CS-210","CS-211","CS-203","CS-214","CS-212","EE-217","CS-215","CS-301","CS-302","MT-331","EF-303","HS-304","TC-383","MT-442","EL-332","CS-318","CS-306","CS-312","CS-317","CS-403","CS-421","CS-406","CS-414","CS-419","CS-423","CS-412"], axis=1)

In [7]:
print(grade_dataset.shape)
grade_dataset

(571, 12)

,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,ME-107,CS-107,CGPA
0,B-,D+,C-,C,C-,D+,D,C-,B-,C-,C-,2.205
1,A,D,D+,D,B-,C,D,A,D+,D,B+,2.008
2,A,B,A,B-,B+,A,B-,B+,A-,A-,B-,3.608
3,D,C+,D+,D,D,A-,D+,C-,D,C+,D,1.906
4,A-,A-,A-,B+,A,A,A-,B+,A,A-,C,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...
566,B,A,A,A-,A+,A,A-,A-,A+,B+,A+,3.798
567,A+,A,A,A,A,A,A,A-,A,A,A+,3.772
568,B,A,A-,B+,A,A,A,A,A,B,A+,3.470
569,A,B+,D,A,D,D+,B-,C-,B-,C-,A+,2.193
570,C,D,D,C,C,D+,B,C+,C,D+,B-,1.753

**Checking Null values**

In [8]:
grade_dataset.isnull().sum()

PH-121       0
HS-101       0
CY-105       0
HS-105/12    0
MT-111       0
CS-105       0
CS-106       0
EL-102       0
EE-119       0
ME-107       0
CS-107       0
CGPA         0
dtype: int64

**If any null values are present, we will drop those rows**

In [9]:
grade_dataset.dropna(inplace=True)
grade_dataset.shape

(571, 12)

**Nominal Encoding**

In [10]:
Nominal_encoder(grade_dataset)
grade_dataset

,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,ME-107,CS-107,CGPA
0,2.7,1.4,1.7,2.0,1.7,1.4,1.0,1.7,2.7,1.7,1.7,2.205
1,4.0,1.0,1.4,1.0,2.7,2.0,1.0,4.0,1.4,1.0,3.4,2.008
2,4.0,3.0,4.0,2.7,3.4,4.0,2.7,3.4,3.7,3.7,2.7,3.608
3,1.0,2.4,1.4,1.0,1.0,3.7,1.4,1.7,1.0,2.4,1.0,1.906
4,3.7,3.7,3.7,3.4,4.0,4.0,3.7,3.4,4.0,3.7,2.0,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...
566,3.0,4.0,4.0,3.7,4.0,4.0,3.7,3.7,4.0,3.4,4.0,3.798
567,4.0,4.0,4.0,4.0,4.0,4.0,4.0,3.7,4.0,4.0,4.0,3.772
568,3.0,4.0,3.7,3.4,4.0,4.0,4.0,4.0,4.0,3.0,4.0,3.470
569,4.0,3.4,1.0,4.0,1.0,1.4,2.7,1.7,2.7,1.7,4.0,2.193
570,2.0,1.0,1.0,2.0,2.0,1.4,3.0,2.4,2.0,1.4,2.7,1.753

In [11]:
X_m1 =grade_dataset.values[:, 0:11]
Y_m1 =grade_dataset.values[:, 11]


**Algorithm 1: Linear Regression**

In [12]:
#Train Test Splitting 
x_train,x_test,y_train,y_test=train_test_split(X_m1,Y_m1,test_size=0.2,random_state=3)

def model1Algo1(mode):
    if (mode=='train'):
        LR = LinearRegression()
        LR.fit(x_train,y_train)
        y_pred=LR.predict(x_test)

        print("Mean Squared Error: ",mean_squared_error(y_test,y_pred))
        print("Training data R-squared:", LR.score(x_train,y_train))
        print("Test data R-squared:", LR.score(x_test,y_test))

        print(LR.predict([[1,1,4,3.7,3.4,1,1,1,1,1,3]]))
        print(LR.predict([[4,4,4,4,4,4,4,4,4,4,4]]))
    elif (mode=='test'):
        LR=LinearRegression()
        LR.fit(X_m1,Y_m1)
        return LR
    else:
        print("Invalid args")
model1Algo1("train")

Mean Squared Error:  0.06491073843585667
Training data R-squared: 0.8598189432333929
Test data R-squared: 0.8430164241682193
[2.09887394]
[3.82891941]


**Algorithm 2: Polynomial Regression**

In [13]:
#Train Test Splitting 
x_train,x_test,y_train,y_test=train_test_split(X_m1,Y_m1,test_size=0.2,random_state=3)

def model1Algo2(mode):
    if (mode=='train'):
        deg=2   #if try 3 and 4 model will over fit
        X_train_poly2=PolynomialFeatures(degree=deg).fit_transform(x_train)
        X_train_poly2=pd.DataFrame(X_train_poly2)
        X_train_poly2=X_train_poly2.drop([0],axis=1)

        PM=LinearRegression()
        PM.fit(X_train_poly2,y_train)

        print("Training data R-squared:", PM.score(X_train_poly2, y_train))

        X_test_poly2=PolynomialFeatures(degree=deg).fit_transform(x_test)
        X_test_poly2=pd.DataFrame(X_test_poly2)
        X_test_poly2=X_test_poly2.drop([0],axis=1)
        y_pred=PM.predict(X_test_poly2)

        print("Test data R-squared:", PM.score(X_test_poly2,y_test))
        print("Number of non-zero features:",np.sum(PM.coef_ != 0))
        print("Mean Squared Error:",mean_squared_error(y_test,y_pred))

        test=PolynomialFeatures(degree=2).fit_transform([[4,2.7,1,3,1,2,1,3.7,4,4,1]])
        test=pd.DataFrame(test)
        test=test.drop([0],axis=1)
        print(PM.predict(test))
    elif (mode=='test'):
        deg=2   #if try 3 and 4 model will over fit
        modified_x=PolynomialFeatures(degree=deg).fit_transform(X_m1)
        modified_x=pd.DataFrame(modified_x)
        modified_x=modified_x.drop([0],axis=1)
        PM=LinearRegression()
        PM.fit(modified_x,Y_m1)
        return PM
    else:
        print("Invalid Args")
model1Algo2('train')

Training data R-squared: 0.9148609236549718
Test data R-squared: 0.8062954263458536
Number of non-zero features: 77
Mean Squared Error: 0.0800944101806348
[2.63555625]


**Algorithm 3: Bayesian Ridge Regression**

In [14]:
#Train Test Splitting 
x_train,x_test,y_train,y_test=train_test_split(X_m1,Y_m1,test_size=0.2,random_state=3)
# the above test_size is selected by hit and trial by first splitting test_size in range from 0.1- 0.9
# we can have any random_state but I need to fix it for a particular model's all algorithms so that I can find the best algorithm
def model1Algo3(mode):
    if (mode=='train'):
        BayReg =BayesianRidge(fit_intercept=True)
        BayReg.fit(x_train,y_train)
        Bay_pred = BayReg.predict(x_test)

        score=r2_score(y_test,Bay_pred )

        print("R2 Score",score)
        print("Training data R-squared for Baysian:", BayReg.score(x_train,y_train))
        print("Mean Squared Error:",mean_squared_error(y_test,Bay_pred ))
        print(BayReg.predict([[2,3.4,0,1.4,1.7,2.7,0,1,3.7,3,4]])) # randomly predicted model on these inputs
    elif (mode=='test'):
        BayReg =BayesianRidge(fit_intercept=True)
        BayReg.fit(X_m1,Y_m1)
        return BayReg
    else:
        print("Invalid Args")
model1Algo3('train')

R2 Score 0.8434932874503582
Training data R-squared for Baysian: 0.8597692741869323
Mean Squared Error: 0.06471356145340755
[2.46796486]

***Predicting the GPA for the given score***

In [17]:
grade_list = []


print("\nThe implemented models and algorithms are listed below:\n\n"
      "1. Linear Regression\n"
      "2. Polynomial Regression\n"
      "3. Bayesian Ridge Regression\n"
      "4. To exit")


choice = int(input("\nInsert the number to proceed accordingly: "))

if 1 <= choice <= 3:
    print("\nEnter grades corresponding to each course in this format A+, A, A-, B+, B, B- D and so on...")

    grade_list = [str(grade) for grade in input("\nEnter grades with space by space: (Example = A A A A A A A A A A A)").split()]
    data = pd.DataFrame(grade_list, columns=['grades'])
    Nominal_encoder(data)
    t = data.values.reshape(1, len(grade_list))

    if choice == 1:
        model = model1Algo1('test')
        prediction = model.predict(t)
        print("\nPredicted Current GPA according to Linear Regression:", prediction[0])

    elif choice == 2:
        model = model1Algo2('test')
        modified_test = PolynomialFeatures(degree=2).fit_transform(t)
        modified_test = pd.DataFrame(modified_test).drop([0], axis=1)
        prediction = model.predict(modified_test)
        print("\nPredicted Current GPA according to Polynomial Regression:", prediction[0])
        
    elif choice == 3:
        model = model1Algo3('test')
        prediction = model.predict(t)
        print("\nPredicted Current GPA according to Bayesian Ridge Regression:", prediction[0])
else:
    print("Thank you!")

The implemented models and algorithms are listed below:

1. Linear Regression
2. Polynomial Regression
3. Bayesian Ridge Regression
4. To exit

Enter grades corresponding to each course in this format A+, A, A-, B+, B, B- D and so on...

Predicted Current GPA according to Bayesian Ridge Regression: 3.8346524088547684